@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    height: 116px;
    background-color: #000;
    display: flex;
    /* Вертикально по центру */
    align-items: center; 
    padding-left: 164px;
}

.header-logo {
    margin-right: 94px;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-btn-wrapper {
    padding-left: 152px;
    padding-right: 152px;
    border-left: 5px solid #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-btn {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
    font-size: 30px; 
}

.navbar-register {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 58px;
    padding-right: 58px;
    margin-right: 170px;
}

/* Кнопка */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 30px;
    text-decoration: none;
}

.btn-size-s {
    width: 273px;
    height: 66px;
    font-size: 30px;
}

.btn-size-m {
    width: 359px;
    height: 107px;
    font-size: 40px;
}

.btn-size-l {
    width: 457px;
    height: 135px;
    font-size: 40px;
}

.btn-size-xl {

}

.btn-textcolor-black {
    color: black;
}

.btn-bgcolor-blue {
    background-color: #4C9BB4;
}

.btn-bgcolor-orange {
    background-color: #CF8B24;
}

.btn-bgcolor-green{
    background-color: #7B9760;
}

.btn-textcolor-white{
    color: #FFFFFF;
}

.btn-bgcolor-smperple{
    background-color: #879FC1;
}

.btn-bgcolor-black{
    background-color: black;

}

.btn-bgcolor-white{
    background-color: #FFFFFF;
}

.btn-bgcolor-grey{
    background-color: #A39F9F;
    
}

.btn-bgcolor-salat{
    background-color: #9BB95C;
}

.btn-bgcolor-perple{
    background-color: #8F54AA;
}
.text-size-m{
    font-size: 30px;
}


.text-size-s{
    font-size: 40px;
}

.text-size-l{
    font-size: 50px;
}
.textcolor-white{
    color: rgb(255, 255, 255);
}

.textcolor-black{
    color: #000;
}

.textcolor-blue{
   color: #ffffff;  
}

.text-size-xl{
    font-size: 60px;
}

.text-center {
    text-align: center;
}

.igor-link{
   display: flex; 
   align-items: center;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-1 {
    background-image: url("../img/bg/bg-1.png");
}

.avatar {

}


.avatar_size_m {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.blok-1{
    width: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    margin: auto;

}

.blok-1-avatar{
    border: 3px solid yellow;
    
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-2{
    background-image: url("../img/bg/bg-2.jpeg");
}

.header-2{
    width: 950px; 
    height: 100px;
    background-color: #A9CCD8;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}



.zag{

}   

.zag-1{

}


.text-bio-1{
    padding-top: 150px;
}

.text-bio-2{
    padding-top: 200px;
}

.btn-lor{
   margin-top: 50px;
}

.bg-3{
    background-image: url("../img/bg/bg-3.jpg");
}

.text-bio-3{
    padding-top: 200px;
}

.textcolor-weer{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-lor-3{
    margin-top: 50px;

}

.bg-4{
    background-image: url("../img/bg/bg-4.jpg");
}

.header-3{
    width: 868px; 
    height: 100px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    
    color: #000;
}  

.btn-lor-4{
    margin-top: -65px;
    margin-left: 500px;
}

.bg-5{
    background-image: url("../img/bg/bg-5.jpg");
}

.avatar-5{
    background-image: url("../img/avatar-5.png");
    padding-left: 250px;
    margin-left: 200px;
    margin-top: 10px;
}

.text-5{
   padding-left: 150px;
}

.btn-lor-5{
    margin-right: 100px;
    
}

.text-6{
    padding-top: 50px;
    padding-left: 50px;
    font-weight: bold;
}


.text-7{
    padding-left: 50px;
    font-weight: bold;
}

.btn-lor-6{
    margin-left: 1550px;
    margin-top: -100px;
}

.bg-6{
    background-image: url("../img/bg/bg-6.jpg");
}

.bg-7{

    background-image: url("../img/bg/bg-7.jpg");
}

.avatar-4{
    background-image: url("../img/avatar-2.png");
    padding-left: 250px;
    margin-left: 200px;
    margin-top: 10px;
}

.avatar-3{
    background-image: url("../img/avatar-3.png");
    padding-left: 250px;
    margin-left: 200px;
    margin-top: 10px;
}

.bg-8{
    background-image: url("../img/bg/bg-8.png");
}

.sw{
   margin-left: 100px;
}

.sw-2{
    margin-left: 700px;
}

.textcolor-roy{
    color: #f80000;
}