body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.register-form {
    font-family: 'Arial', sans-serif;
}

.form-group {
    margin-bottom: 15px;
    opacity: 0.5 ;
}

.register-form {
    width: fit-content;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    padding: 25px;
    border-radius: 15px;
}

.form-btn {
    width: 100%;
    border: 0;
    background-color: rgb(0, 255, 170);
    color: rgb(137, 17, 206);
    padding: 10px 5px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}